# Data Retrieval

In [1]:
# Import dependancies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import csv
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import datetime as dt

In [2]:
# Get Vaccinations Table from CDC website
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit("https://covid.cdc.gov/covid-data-tracker/#vaccinations")
vaccine_html = browser.html
browser.click_link_by_id("vaccinations-table-toggle")
cdc_html = browser.html
cdc_parsed = bs(cdc_html, "html.parser")
table = cdc_parsed.select("table")
browser.quit()

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [C:\Users\coled\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [3]:
# Read the CDC Vaccine HTML Table
vaccines_df = pd.read_html(str(table))[0]

In [4]:
# Change "New York State" to "New York" for data merging
vaccines_df.loc[vaccines_df["State/Territory/Federal Entity"] == "New York State", "State/Territory/Federal Entity"] = "New York"

In [5]:
# Rename "State/Territory/Federal Entity" column to "state" for data merging
vaccines_df = vaccines_df.rename(columns={"State/Territory/Federal Entity": "state"})

In [6]:
# Overwrite Latest Vaccine CSV
vaccines_df.to_csv("../data/cdc-vaccine-data.csv")

In [7]:
# Read Daily COVID-19 CSV from AWS S3 Bucket - Rearc / NY Times Data 
us_covid_cases_data = requests.get("https://covid19-lake.s3.us-east-2.amazonaws.com/rearc-covid-19-nyt-data-in-usa/csv/us-states/us-states.csv", stream=True)

In [8]:
# Overwrite the US COVID Data CSV with the latest one 
with open("../data/us-covid-data.csv",  "wb") as file:
    file.write(us_covid_cases_data.content)

In [9]:
# Read US COVID Data CSV for data merging and cleaning 
us_covid_cases_df = pd.read_csv("../data/us-covid-data.csv")

# Clean and Create State Overview Dataframe

In [10]:
# Get yesterday's date, which is the latest data 
today = dt.date.today()
yesterday = today - dt.timedelta(days = 1)
latest_data = yesterday.strftime("%Y-%m-%d")

In [11]:
# Get latest total cases by state for latest date
us_total_cases_to_date_df = us_covid_cases_df.groupby(["date", "state"]).sum()
us_total_cases_to_date_df.reset_index(inplace=True)
us_total_cases_to_date_df = us_total_cases_to_date_df.loc[us_total_cases_to_date_df["date"] == latest_data]

In [12]:
# Read State Lat-Lon CSV and rename columns for easier cleaning and merging
state_latlons_df = pd.read_csv("../data/statelatlong.csv")
state_latlons_df.rename(columns={"State": "abbr", "Latitude": "lat", "Longitude": "lon", "City": "state"}, inplace=True)

In [13]:
# Read State Population CSV for cleaning and merging
state_pop_df = pd.read_csv("../data/state_populations_cleaned.csv")

In [14]:
# Merge, rename, and focus on defined columns
state_overview_master_df = pd.merge(state_pop_df, state_latlons_df, how="inner", on="state")
state_overview_master_df = state_overview_master_df[["state", "abbr", "lat", "lon", "population"]]

In [15]:
# Merge with us_total_cases_to_date_df and focus on defined columns
state_overview_master_df = pd.merge(state_overview_master_df, us_total_cases_to_date_df, how="inner", on="state")
state_overview_master_df = state_overview_master_df[["date", "state", "abbr", "lat", "lon", "population", "fips", "cases", "deaths"]]

In [16]:
# Merge with Vaccination data, rename columns, focus data columns
state_overview_master_df = pd.merge(state_overview_master_df, vaccines_df, how="inner", on="state")
state_overview_master_df = state_overview_master_df.rename(columns={"Total Doses Administered by State where Administered": "total_doses_administered", "Doses Administered per 100k by State where Administered": "doses_administered_per_100k"})
state_overview_master_df = state_overview_master_df[["date", "state", "abbr", "lat", "lon", "population", "fips", "cases", "deaths", "total_doses_administered", "doses_administered_per_100k"]]

In [17]:
# Add Empty Column for New Calculation
state_overview_master_df["percent_vaccinated"] = ""

In [18]:
# Calcuation for percent vaccinated by state
for index, row in state_overview_master_df.iterrows():
    population = row["population"]
    vaccinated = row["total_doses_administered"]
    percent_vaccinated = round((vaccinated / population) * 100, 2)
    
    state_overview_master_df.at[index, "percent_vaccinated"] = percent_vaccinated

In [19]:
# Convert percent vaccinated into a float
state_overview_master_df = state_overview_master_df.astype({"percent_vaccinated": 'float64'})

In [20]:
state_overview_master_df

,date,state,abbr,lat,lon,population,fips,cases,deaths,total_doses_administered,doses_administered_per_100k,percent_vaccinated
0,2021-02-27,Alabama,AL,32.601011,-86.680736,4903185,1,492683,9930,942502,19222.0,19.22
1,2021-02-27,Alaska,AK,61.302501,-158.775020,731545,2,57846,279,264741,36189.0,36.19
2,2021-02-27,Arizona,AZ,34.168219,-111.930907,7278717,4,816334,15967,1792447,24626.0,24.63
3,2021-02-27,Arkansas,AR,34.751928,-92.131378,3017804,5,319195,5417,649311,21516.0,21.52
4,2021-02-27,California,CA,37.271875,-119.270415,39512223,6,3565496,51979,8821044,22325.0,22.32
5,2021-02-27,Colorado,CO,38.997934,-105.550567,5758736,8,430129,6038,1371577,23817.0,23.82
6,2021-02-27,Connecticut,CT,41.518784,-72.757507,3565287,9,279946,7622,1004467,28174.0,28.17
7,2021-02-27,Delaware,DE,39.145251,-75.418921,973764,10,86517,1418,219312,22522.0,22.52
8,2021-02-27,District of Columbia,DC,38.899349,-77.014567,705749,11,40478,1010,194746,27594.0,27.59
9,2021-02-27,Florida,FL,27.975728,-83.833017,21477737,12,1903674,30733,5044420,23487.0,23.49
10,2021-02-27,Georgia,GA,32.678125,-83.222976,10617423,13,979683,16756,2072451,19519.0,19.52
11,2021-02-27,Hawaii,HI,20.460000,-157.505000,1415872,15,27419,436,382798,27036.0,27.04
12,2021-02-27,Idaho,ID,45.494576,-114.142430,1787065,16,171209,1862,392370,21956.0,21.96
13,2021-02-27,Illinois,IL,39.739318,-89.504139,12671821,17,1188732,22710,2824209,22287.0,22.29
14,2021-02-27,Indiana,IN,39.766219,-86.441277,6732219,18,664149,12556,1590344,23623.0,23.62
15,2021-02-27,Iowa,IA,41.938317,-93.389798,3155070,19,336270,5470,713054,22600.0,22.60
16,2021-02-27,Kansas,KS,38.498779,-98.320078,2913314,20,296798,4735,609765,20930.0,20.93
17,2021-02-27,Kentucky,KY,37.822294,-85.768240,4467673,21,407745,4776,1020045,22832.0,22.83
18,2021-02-27,Louisiana,LA,30.973377,-91.429910,4648794,22,428592,9587,1056975,22737.0,22.74
19,2021-02-27,Maine,ME,45.218513,-69.014866,1344212,23,44492,702,332999,24773.0,24.77
20,2021-02-27,Maryland,MD,38.806352,-77.268416,6045680,24,381454,7856,1325977,21933.0,21.93
21,2021-02-27,Massachusetts,MA,42.062940,-71.718067,6892503,25,579680,16067,1735916,25186.0,25.19
22,2021-02-27,Michigan,MI,44.943560,-86.415805,9986857,26,645375,16498,2318415,23215.0,23.21
23,2021-02-27,Minnesota,MN,46.441859,-93.365515,5639632,27,483858,6543,1393985,24718.0,24.72
24,2021-02-27,Mississippi,MS,32.585106,-89.877220,2976149,28,294091,6669,619251,20807.0,20.81
25,2021-02-27,Missouri,MO,38.304662,-92.437099,6137428,29,516796,8383,1279404,20846.0,20.85
26,2021-02-27,Montana,MT,46.679800,-110.044783,1068778,30,99920,1357,281422,26331.0,26.33
27,2021-02-27,Nebraska,NE,41.500819,-99.680902,1934408,31,201105,2199,474439,24526.0,24.53
28,2021-02-27,Nevada,NV,38.502032,-117.023060,3080156,32,293534,4957,685692,22262.0,22.26
29,2021-02-27,New Hampshire,NH,44.001231,-71.579923,1359711,33,75166,1170,321602,23652.0,23.65
30,2021-02-27,New Jersey,NJ,40.143006,-74.731116,8882190,34,786964,23238,2065666,23256.0,23.26
31,2021-02-27,New Mexico,NM,34.166232,-106.026069,2096829,35,184888,3702,705538,33648.0,33.65
32,2021-02-27,New York,NY,40.705626,-73.979680,19453561,36,1636297,47025,4225250,21720.0,21.72
33,2021-02-27,North Carolina,NC,35.214563,-79.891267,10488084,37,862635,11240,2467755,23529.0,23.53
34,2021-02-27,North Dakota,ND,47.467882,-100.302266,762062,38,99810,1475,234209,30734.0,30.73
35,2021-02-27,Ohio,OH,40.190362,-82.669252,11689100,39,966154,17239,2599806,22241.0,22.24
36,2021-02-27,Oklahoma,OK,35.309765,-98.716558,3956971,40,423802,4379,1095362,27682.0,27.68
37,2021-02-27,Oregon,OR,44.141905,-120.538099,4217737,41,155315,2218,994403,23577.0,23.58
38,2021-02-27,Pennsylvania,PA,40.994593,-77.604698,12801989,42,934113,23979,2751844,21495.0,21.50
39,2021-02-27,Rhode Island,RI,41.582728,-71.506451,1059361,44,125622,2502,256755,24237.0,24.24
40,2021-02-27,South Carolina,SC,33.625050,-80.947038,5148714,45,515072,8498,1086550,21103.0,21.10
41,2021-02-27,South Dakota,SD,44.212699,-100.247164,884659,46,112293,1886,278285,31457.0,31.46
42,2021-02-27,Tennessee,TN,35.830521,-85.978599,6829174,47,760289,11299,1359382,19906.0,19.91
43,2021-02-27,Texas,TX,31.169336,-100.076842,28995881,48,2649664,43772,5566612,19198.0,19.20
44,2021-02-27,Utah,UT,39.499761,-111.547028,3205958,49,370770,1929,688505,21476.0,21.48
45,2021-02-27,Vermont,VT,43.871755,-72.447783,623989,50,15098,204,162558,26051.0,26.05
46,2021-02-27,Virginia,VA,38.003386,-79.458786,8535519,51,574314,8382,2086194,24441.0,24.44
47,2021-02-27,Washington,WA,38.899349,-77.014567,7614893,53,342574,5024,1729208,22708.0,22.71
48,2021-02-27,West Virginia,WV,38.920171,-80.181691,1792147,54,131580,2297,532295,29702.0,29.70
49,2021-02-27,Wisconsin,WI,44.786297,-89.826705,5822434,55,616899,7019,1470570,25257.0,25.26
50,2021-02-27,Wyoming,WY,43.000325,-107.554567,578759,56,54350,671,156397,27023.0,27.02

In [22]:
us_covid_cases_df["date"] = pd.to_datetime(us_covid_cases_df["date"])

In [23]:
us_covid_cases_df

            date          state  fips   cases  deaths
0     2020-01-21     Washington    53       1       0
1     2020-01-22     Washington    53       1       0
2     2020-01-23     Washington    53       1       0
3     2020-01-24       Illinois    17       1       0
4     2020-01-24     Washington    53       1       0
...          ...            ...   ...     ...     ...
19919 2021-02-27       Virginia    51  574314    8382
19920 2021-02-27     Washington    53  342574    5024
19921 2021-02-27  West Virginia    54  131580    2297
19922 2021-02-27      Wisconsin    55  616899    7019
19923 2021-02-27        Wyoming    56   54350     671

[19924 rows x 5 columns]

## NIH AWS Data / NYT

### Set up State Master DF

In [ ]:
# import datetime as dt

# for index, row in nytimes_nih_covid_df.iterrows():
#     date = row["date"].strftime('%Y-%m-%d')
#     nytimes_nih_covid_df.at[index, "date"] = date

In [ ]:
# # Calcuation for est percent infected by state
# for index, row in state_master_df.iterrows():
#     population = row["population"]
#     deaths = row["deaths"]
#     infected = row["cases"]
    
#     # take out the number who have passed away to reset estimated population
#     est_population_new = population - deaths 
    
#     # estimate the percent infected
#     percent_infected = round((infected / est_population_new) * 100, 2)
    
#     # insert into percent_infected column
#     state_master_df.at[index, "est_percent_infected_to_date"] = percent_infected

In [ ]:
# Add Estimated Percent Immune Column
state_master_df["est_percent_immune"] = ""
state_master_df.head(10)

In [ ]:
# Calcuation for estimated immune by state
for index, row in state_master_df.iterrows():
    population = row["population"]
    infected = row["cases"]
    deaths = row["deaths"]
    vaccinated = row["total_administered"]
    
    est_total_immune = infected + vaccinated
    est_population = population - deaths
    
    percent_immune = round((est_total_immune / est_population) * 100, 2)
    
    state_master_df.at[index, "est_percent_immune"] = percent_immune

In [ ]:
state_master_df.head(10)

### Set up Daily Cases DF

In [ ]:
nyt_avg_daily_cases = nytimes_nih_covid_df
nyt_avg_daily_cases.head()

In [ ]:
nyt_avg_daily_cases = nyt_avg_daily_cases.groupby("date").sum()
nyt_avg_daily_cases.head()

In [ ]:
nyt_avg_daily_cases["daily_new_cases"] = ""

In [ ]:
nyt_avg_daily_cases.head()

In [ ]:
previous_day = 0

In [ ]:
for index, row in nyt_avg_daily_cases.iterrows():
    new_cases = row["cases"] - previous_day
    previous_day = row["cases"]
    nyt_avg_daily_cases.at[index, "daily_new_cases"] = new_cases

In [ ]:
nyt_avg_daily_cases["date"] = ""

In [ ]:
nyt_avg_daily_cases

In [ ]:
for index, row in nyt_avg_daily_cases.iterrows():
    date = index
    nyt_avg_daily_cases.at[index, "date"] = date

In [ ]:
nyt_avg_daily_cases.reset_index(drop=True, inplace=True)

In [ ]:
nyt_avg_daily_cases.head(10)

### Set Up NYT Totals Master DF

In [ ]:
nyt_master = pd.merge(nytimes_nih_covid_df, state_pop_df, how ="inner", on="state")
nyt_master.head()

In [ ]:
nyt_master["est_percent_infected"] = ""
nyt_master.head()

In [ ]:
# Calcuation for est percent infected by state
for index, row in nyt_master.iterrows():
    population = int(row["population"])
    deaths = row["deaths"]
    infected = row["cases"]
    
    # take out the number who have passed away to reset estimated population
    est_population_new = population - deaths 
    
    # estimate the percent infected
    if infected == 0:
        percent_infected = 0
    else: 
        percent_infected = round((infected / est_population_new) * 100, 2)
    
    # insert into percent_infected column
    nyt_master.at[index, "est_percent_infected"] = percent_infected

In [ ]:
nyt_master.head()

## JSON Exports

In [ ]:
# Master DF to JSON
state_master_df.to_json("../data/state-master-data.json", orient="records")

In [ ]:
# NYT Master to JSON 
nyt_master.to_json("../data/nyt-master.json", orient="records")

In [ ]:
nyt_avg_daily_cases.to_json("../data/daily_new_cases.json", orient="records")

### CSV Exports

In [ ]:
state_master_df.to_csv("../data/state-master-data.csv")

## Amazon RDS Updates

In [ ]:
# Config Variables, and SQLalchemy
from config import endpoint, username, password
from sqlalchemy import create_engine

In [ ]:
# Connect to AWS Database instance 
engine = create_engine(f'postgresql://uscovid:{password}@{endpoint}/us_covid_db')
connection = engine.connect()

In [ ]:
# 50 States & D.C. Data
state_master_df.to_sql('master_table', index=False, if_exists='replace', con=connection)

In [ ]:
# Daily Cases Data
nyt_avg_daily_cases.to_sql("daily_new_cases", index=False, if_exists='replace', con=connection)

In [ ]:
# Raw NTY Data
nytimes_nih_covid_df.to_sql('nyt_table', index=True, if_exists='replace', con=connection)