# Data Retrieval

In [1]:
# Import dependancies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import csv
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import datetime as dt

In [2]:
# Get Vaccinations Table from CDC website
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit("https://covid.cdc.gov/covid-data-tracker/#vaccinations")
vaccine_html = browser.html
browser.click_link_by_id("vaccinations-table-toggle")
cdc_html = browser.html
cdc_parsed = bs(cdc_html, "html.parser")
table = cdc_parsed.select("table")
browser.quit()

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Trying to download new driver from http://chromedriver.storage.googleapis.com/88.0.4324.96/chromedriver_win32.zip
[WDM] - Driver has been saved in cache [C:\Users\coled\.wdm\drivers\chromedriver\win32\88.0.4324.96]

In [3]:
# Read the CDC Vaccine HTML Table
vaccines_df = pd.read_html(str(table))[0]

In [4]:
# Change "New York State" to "New York" for data merging
vaccines_df.loc[vaccines_df["State/Territory/Federal Entity"] == "New York State", "State/Territory/Federal Entity"] = "New York"

In [5]:
# Rename "State/Territory/Federal Entity" column to "state" for data merging
vaccines_df = vaccines_df.rename(columns={"State/Territory/Federal Entity": "state"})

In [6]:
# Overwrite Latest Vaccine CSV
vaccines_df.to_csv("../data/cdc-vaccine-data.csv")

In [7]:
# Read Daily COVID-19 CSV from AWS S3 Bucket - Rearc / NY Times Data 
us_covid_cases_data = requests.get("https://covid19-lake.s3.us-east-2.amazonaws.com/rearc-covid-19-nyt-data-in-usa/csv/us-states/us-states.csv", stream=True)

In [8]:
# Overwrite the US COVID Data CSV with the latest one 
with open("../data/us-covid-data.csv",  "wb") as file:
    file.write(us_covid_cases_data.content)

In [9]:
# Read US COVID Data CSV for data merging and cleaning 
us_covid_cases_df = pd.read_csv("../data/us-covid-data.csv")

# Clean and Create State Overview Dataframe

In [10]:
# Get yesterday's date, which is the latest data 
today = dt.date.today()
yesterday = today - dt.timedelta(days = 1)
latest_data = yesterday.strftime("%Y-%m-%d")

In [11]:
# Get latest total cases by state for latest date
us_total_cases_to_date_df = us_covid_cases_df.groupby(["date", "state"]).sum()
us_total_cases_to_date_df.reset_index(inplace=True)
us_total_cases_to_date_df = us_total_cases_to_date_df.loc[us_total_cases_to_date_df["date"] == latest_data]

In [12]:
# Read State Lat-Lon CSV and rename columns for easier cleaning and merging
state_latlons_df = pd.read_csv("../data/statelatlong.csv")
state_latlons_df.rename(columns={"State": "abbr", "Latitude": "lat", "Longitude": "lon", "City": "state"}, inplace=True)

In [13]:
# Read State Population CSV for cleaning and merging
state_pop_df = pd.read_csv("../data/state_populations_cleaned.csv")

In [14]:
# Merge, rename, and focus on defined columns
state_overview_master_df = pd.merge(state_pop_df, state_latlons_df, how="inner", on="state")
state_overview_master_df = state_overview_master_df[["state", "abbr", "lat", "lon", "population"]]

In [15]:
# Merge with us_total_cases_to_date_df and focus on defined columns
state_overview_master_df = pd.merge(state_overview_master_df, us_total_cases_to_date_df, how="inner", on="state")
state_overview_master_df = state_overview_master_df[["date", "state", "abbr", "lat", "lon", "population", "fips", "cases", "deaths"]]

In [16]:
# Merge with Vaccination data, rename columns, focus data columns
state_overview_master_df = pd.merge(state_overview_master_df, vaccines_df, how="inner", on="state")
state_overview_master_df = state_overview_master_df.rename(columns={"Total Doses Administered by State where Administered": "total_doses_administered", "Doses Administered per 100k by State where Administered": "doses_administered_per_100k"})
state_overview_master_df = state_overview_master_df[["date", "state", "abbr", "lat", "lon", "population", "fips", "cases", "deaths", "total_doses_administered", "doses_administered_per_100k"]]

In [17]:
# Add Empty Column for New Calculation
state_overview_master_df["percent_vaccinated"] = ""

In [18]:
# Calcuation for percent vaccinated by state
for index, row in state_overview_master_df.iterrows():
    population = row["population"]
    vaccinated = row["total_doses_administered"]
    percent_vaccinated = round((vaccinated / population) * 100, 2)
    
    state_overview_master_df.at[index, "percent_vaccinated"] = percent_vaccinated

In [19]:
# Convert percent vaccinated into a float
state_overview_master_df = state_overview_master_df.astype({"percent_vaccinated": 'float64'})

In [20]:
state_overview_master_df

,date,state,abbr,lat,lon,population,fips,cases,deaths,total_doses_administered,doses_administered_per_100k,percent_vaccinated
0,2021-02-28,Alabama,AL,32.601011,-86.680736,4903185,1,493252,9929,948393,19342.0,19.34
1,2021-02-28,Alaska,AK,61.302501,-158.775020,731545,2,57846,279,268406,36690.0,36.69
2,2021-02-28,Arizona,AZ,34.168219,-111.930907,7278717,4,817232,15980,1849259,25406.0,25.41
3,2021-02-28,Arkansas,AR,34.751928,-92.131378,3017804,5,322415,5243,661572,21922.0,21.92
4,2021-02-28,California,CA,37.271875,-119.270415,39512223,6,3568991,52213,9106077,23046.0,23.05
5,2021-02-28,Colorado,CO,38.997934,-105.550567,5758736,8,430970,6045,1412910,24535.0,24.54
6,2021-02-28,Connecticut,CT,41.518784,-72.757507,3565287,9,279946,7622,1031305,28926.0,28.93
7,2021-02-28,Delaware,DE,39.145251,-75.418921,973764,10,86799,1422,225374,23145.0,23.14
8,2021-02-28,District of Columbia,DC,38.899349,-77.014567,705749,11,40598,1017,198047,28062.0,28.06
9,2021-02-28,Florida,FL,27.975728,-83.833017,21477737,12,1909213,30851,5047960,23503.0,23.50
10,2021-02-28,Georgia,GA,32.678125,-83.222976,10617423,13,981844,16757,2072628,19521.0,19.52
11,2021-02-28,Hawaii,HI,20.460000,-157.505000,1415872,15,27473,436,389644,27520.0,27.52
12,2021-02-28,Idaho,ID,45.494576,-114.142430,1787065,16,171209,1862,404250,22621.0,22.62
13,2021-02-28,Illinois,IL,39.739318,-89.504139,12671821,17,1189922,22735,2906555,22937.0,22.94
14,2021-02-28,Indiana,IN,39.766219,-86.441277,6732219,18,664880,12573,1615149,23991.0,23.99
15,2021-02-28,Iowa,IA,41.938317,-93.389798,3155070,19,336455,5470,734845,23291.0,23.29
16,2021-02-28,Kansas,KS,38.498779,-98.320078,2913314,20,296798,4735,620939,21314.0,21.31
17,2021-02-28,Kentucky,KY,37.822294,-85.768240,4467673,21,408392,4786,1046835,23431.0,23.43
18,2021-02-28,Louisiana,LA,30.973377,-91.429910,4648794,22,430100,9608,1076576,23158.0,23.16
19,2021-02-28,Maine,ME,45.218513,-69.014866,1344212,23,44634,703,334009,24848.0,24.85
20,2021-02-28,Maryland,MD,38.806352,-77.268416,6045680,24,382281,7869,1364145,22564.0,22.56
21,2021-02-28,Massachusetts,MA,42.062940,-71.718067,6892503,25,581148,16118,1803528,26167.0,26.17
22,2021-02-28,Michigan,MI,44.943560,-86.415805,9986857,26,645411,16498,2357259,23604.0,23.60
23,2021-02-28,Minnesota,MN,46.441859,-93.365515,5639632,27,484662,6551,1429631,25350.0,25.35
24,2021-02-28,Mississippi,MS,32.585106,-89.877220,2976149,28,294795,6681,637116,21407.0,21.41
25,2021-02-28,Missouri,MO,38.304662,-92.437099,6137428,29,517071,8382,1375027,22404.0,22.40
26,2021-02-28,Montana,MT,46.679800,-110.044783,1068778,30,99999,1358,284679,26636.0,26.64
27,2021-02-28,Nebraska,NE,41.500819,-99.680902,1934408,31,201298,2199,476315,24623.0,24.62
28,2021-02-28,Nevada,NV,38.502032,-117.023060,3080156,32,293815,4957,715121,23217.0,23.22
29,2021-02-28,New Hampshire,NH,44.001231,-71.579923,1359711,33,75424,1170,324806,23888.0,23.89
30,2021-02-28,New Jersey,NJ,40.143006,-74.731116,8882190,34,789354,23252,2096498,23603.0,23.60
31,2021-02-28,New Mexico,NM,34.166232,-106.026069,2096829,35,185132,3716,711612,33938.0,33.94
32,2021-02-28,New York,NY,40.705626,-73.979680,19453561,36,1644124,47143,4355544,22389.0,22.39
33,2021-02-28,North Carolina,NC,35.214563,-79.891267,10488084,37,862635,11241,2525579,24080.0,24.08
34,2021-02-28,North Dakota,ND,47.467882,-100.302266,762062,38,99839,1475,238585,31308.0,31.31
35,2021-02-28,Ohio,OH,40.190362,-82.669252,11689100,39,967422,17299,2660844,22763.0,22.76
36,2021-02-28,Oklahoma,OK,35.309765,-98.716558,3956971,40,424508,4428,1119049,28280.0,28.28
37,2021-02-28,Oregon,OR,44.141905,-120.538099,4217737,41,155597,2218,1024055,24280.0,24.28
38,2021-02-28,Pennsylvania,PA,40.994593,-77.604698,12801989,42,935911,24056,2835338,22148.0,22.15
39,2021-02-28,Rhode Island,RI,41.582728,-71.506451,1059361,44,125622,2502,269512,25441.0,25.44
40,2021-02-28,South Carolina,SC,33.625050,-80.947038,5148714,45,516823,8546,1116811,21691.0,21.69
41,2021-02-28,South Dakota,SD,44.212699,-100.247164,884659,46,112427,1888,282075,31885.0,31.89
42,2021-02-28,Tennessee,TN,35.830521,-85.978599,6829174,47,761232,11317,1394659,20422.0,20.42
43,2021-02-28,Texas,TX,31.169336,-100.076842,28995881,48,2653285,43949,5572496,19218.0,19.22
44,2021-02-28,Utah,UT,39.499761,-111.547028,3205958,49,371235,1935,688506,21476.0,21.48
45,2021-02-28,Vermont,VT,43.871755,-72.447783,623989,50,15198,204,168050,26932.0,26.93
46,2021-02-28,Virginia,VA,38.003386,-79.458786,8535519,51,576050,8552,2136926,25036.0,25.04
47,2021-02-28,Washington,WA,38.899349,-77.014567,7614893,53,342644,5024,1800030,23638.0,23.64
48,2021-02-28,West Virginia,WV,38.920171,-80.181691,1792147,54,131855,2300,534053,29800.0,29.80
49,2021-02-28,Wisconsin,WI,44.786297,-89.826705,5822434,55,617380,7019,1500923,25778.0,25.78
50,2021-02-28,Wyoming,WY,43.000325,-107.554567,578759,56,54394,671,156741,27082.0,27.08

## Daily Cases

In [21]:
# Convert Dates to pd.Datetimes
us_covid_cases_df["date"] = pd.to_datetime(us_covid_cases_df["date"])

In [22]:
us_covid_cases_df

            date          state  fips   cases  deaths
0     2020-01-21     Washington    53       1       0
1     2020-01-22     Washington    53       1       0
2     2020-01-23     Washington    53       1       0
3     2020-01-24       Illinois    17       1       0
4     2020-01-24     Washington    53       1       0
...          ...            ...   ...     ...     ...
19974 2021-02-28       Virginia    51  576050    8552
19975 2021-02-28     Washington    53  342644    5024
19976 2021-02-28  West Virginia    54  131855    2300
19977 2021-02-28      Wisconsin    55  617380    7019
19978 2021-02-28        Wyoming    56   54394     671

[19979 rows x 5 columns]

In [23]:
# Create Daily New Cases Dataframe
daily_new_cases_df = us_covid_cases_df.groupby("date").sum()

In [24]:
daily_new_cases_df.reset_index(inplace=True)

In [25]:
# Add new Empty Columns for Daily New Cases and Deaths
daily_new_cases_df["daily_new_cases"] = ""
daily_new_cases_df["daily_new_deaths"] = ""

In [26]:
previous_day_cases = 0
previous_day_deaths = 0
    
for index, row in daily_new_cases_df.iterrows():
    
    # Cases
    new_cases = row["cases"] - previous_day_cases
    previous_day_cases = row["cases"]
    daily_new_cases_df.at[index, "daily_new_cases"] = new_cases
    
    # Deaths
    new_deaths = row["deaths"] - previous_day_deaths
    previous_day_deaths = row["deaths"]
    daily_new_cases_df.at[index, "daily_new_deaths"] = new_deaths

In [27]:
daily_new_cases_df

          date  fips     cases  deaths daily_new_cases daily_new_deaths
0   2020-01-21    53         1       0               1                0
1   2020-01-22    53         1       0               0                0
2   2020-01-23    53         1       0               0                0
3   2020-01-24    70         2       0               1                0
4   2020-01-25    76         3       0               1                0
..         ...   ...       ...     ...             ...              ...
400 2021-02-24  1762  28353261  505642           74130             3210
401 2021-02-25  1762  28431065  508107           77804             2465
402 2021-02-26  1762  28509327  510283           78262             2176
403 2021-02-27  1762  28572021  511850           62694             1567
404 2021-02-28  1762  28622946  512979           50925             1129

[405 rows x 6 columns]

In [28]:
daily_new_cases_df.to_csv("../data/state-daily-stats.csv")

## Machine Learning

In [ ]:
# Add Estimated Percent Immune Column
state_master_df["est_percent_immune"] = ""
state_master_df.head(10)

In [ ]:
# Calcuation for estimated immune by state
for index, row in state_master_df.iterrows():
    population = row["population"]
    infected = row["cases"]
    deaths = row["deaths"]
    vaccinated = row["total_administered"]
    
    est_total_immune = infected + vaccinated
    est_population = population - deaths
    
    percent_immune = round((est_total_immune / est_population) * 100, 2)
    
    state_master_df.at[index, "est_percent_immune"] = percent_immune

In [ ]:
state_master_df.head(10)

### Set Up NYT Totals Master DF

In [ ]:
nyt_master = pd.merge(nytimes_nih_covid_df, state_pop_df, how ="inner", on="state")
nyt_master.head()

In [ ]:
nyt_master["est_percent_infected"] = ""
nyt_master.head()

In [ ]:
# Calcuation for est percent infected by state
for index, row in nyt_master.iterrows():
    population = int(row["population"])
    deaths = row["deaths"]
    infected = row["cases"]
    
    # take out the number who have passed away to reset estimated population
    est_population_new = population - deaths 
    
    # estimate the percent infected
    if infected == 0:
        percent_infected = 0
    else: 
        percent_infected = round((infected / est_population_new) * 100, 2)
    
    # insert into percent_infected column
    nyt_master.at[index, "est_percent_infected"] = percent_infected

In [ ]:
nyt_master.head()

## JSON Exports

In [ ]:
# Master DF to JSON
state_master_df.to_json("../data/state-master-data.json", orient="records")

In [ ]:
# NYT Master to JSON 
nyt_master.to_json("../data/nyt-master.json", orient="records")

In [ ]:
nyt_avg_daily_cases.to_json("../data/daily_new_cases.json", orient="records")

### CSV Exports

In [ ]:
state_master_df.to_csv("../data/state-master-data.csv")

## Amazon RDS Updates

In [37]:
# Config Variables, and SQLalchemy
from config import endpoint, username, password
from sqlalchemy import create_engine

In [38]:
# Connect to AWS Database instance 
engine = create_engine(f'postgresql://uscovid:{password}@{endpoint}/us_covid_db')
connection = engine.connect()

In [39]:
# 50 States & D.C. Data
state_overview_master_df.to_sql('master_table', index=False, if_exists='replace', con=connection)

In [40]:
engine.execute('ALTER TABLE master_table ADD PRIMARY KEY (state);')

In [41]:
# Daily Cases Data
daily_new_cases_df.to_sql("daily_new_cases", index=False, if_exists='replace', con=connection)

In [42]:
engine.execute('ALTER TABLE daily_new_cases ADD PRIMARY KEY (date);')

In [ ]:
# Raw NTY Data
# nytimes_nih_covid_df.to_sql('nyt_table', index=True, if_exists='replace', con=connection)